/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroImageBox {
  margin-top: 4rem;
}

.heroImage {
  width: 100%;
  border-radius: var(--ifm-global-radius);
  border: 1px solid var(--ifm-color-emphasis-300);
  box-shadow: var(--ifm-global-shadow-md);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}
