<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tango Playground</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="https://unpkg.com/react@16.14.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.14.0/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/react-is@16.13.1/umd/react-is.production.min.js"></script>
    <script src="https://unpkg.com/moment/min/moment-with-locales.js"></script>
    <script src="https://unpkg.com/styled-components@5.3.11/dist/styled-components.js"></script>
    <script src="https://unpkg.com/@babel/standalone@7.15.6/babel.js"></script>
    <script src="https://unpkg.com/prettier@2.6.0/standalone.js"></script>
    <script src="https://unpkg.com/prettier@2.6.0/parser-babel.js"></script>
    <script src="https://unpkg.com/antd@4.24.13/dist/antd-with-locales.min.js"></script>
  </body>
</html>
