name: Sync with upstream

on:
  schedule:
    - cron: '0 */24 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: main
    - name: Fetch upstream
      run: git remote add upstream https://github.com/NetEase/tango.git
    - name: Sync with upstream
      env:
        GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
      run: |
        git fetch upstream
        git checkout main
        git merge upstream/main
        git push

